{% extends "base.html.twig" %}

{% block body %}
	<h1 class="mt-3">Liste des utilisateurs</h1>

	<form class="d-flex mb-3 mt-3" action="{{ path('search_results') }}">
		<input class="form-control form-control-sm me-2" name="search" type="search" placeholder="Rechercher un utilisateur...">
		<button class="btn btn-danger" type="submit">
			<i class="fa fa-search"></i>
		</button>
	</form>

	<a href="{{ path('user_add') }}" <button class="btn mt-3 mb-3 btn-lg btn-primary" type="button">Créer un nouvel utilisateur</a>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Pseudo</th>
					<th>Email</th>
					<th>Rôle</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.nickname }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>
							<a href="{{ path('user_read', {'id': user.id}) }}" class="fs-4">
								<i class="fa fa-eye" aria-hidden="true"></i>
							</a>

							<a href="{{ path('user_edit', {'id': user.id}) }}" class="fs-4">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</a>


							<form action="{{ path ('user_delete', {id: user.id}) }}" class="d-inline" method="post">
								<button class="btn btn-link p-0 mb-2 fs-4">
									<i class="fa fa-trash" aria-hidden="true"></i>
								</button>
								<input
								type="hidden" name="_method" value="user">
								{# On ajoute un token anti-csrf pour s'assurer que la requête reçue n'est pas forgée #}
								<input type="hidden" name="_token" value="{{ csrf_token('delete_user' ~ user.id) }}">
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('user_add') }}" <button class="btn mb-3 btn-lg btn-primary" type="button">Créer un nouvel utilisateur</a>

		{% endblock %}
