{% extends 'base.html.twig' %}

{% block title %}BlaBlaQuest
{% endblock %}

{% block body %}

	<div class="col-12">
		<h1>Ajouter un jeu</h1>
	</div>

	{{ form_start(form) }}
	{{ form_row(form.name) }}
	{{ form_row(form.description) }}
	{{ form_row(form.picture) }}
	{{ form_row(form.playtime) }}
	{{ form_row(form.playersMin) }}
	{{ form_row(form.playersMax) }}
	{{ form_row(form.ageMin) }}
	{{ form_row(form.categories) }}

	{# On peut tout à fait insérer le bouton dans le twig plutot que dans le formulaire #}
	<button class="btn btn-success mb-3">Ajouter</button>
	{{ form_end(form) }}

{% endblock %}
